.chat-view {
  width: 100%;
  height: calc(100% - 7rem);
  overflow-y: auto;
  color: #232323;
  background: rgba(216, 216, 216, 0.4);

  ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
    word-wrap: break-word;

    li {
      padding: 10px 8px;
      border-bottom: 1px solid #D5D5D5;
    }
  }
}
