body {
    background: url(../static/images/bg_8.jpg);
    box-sizing: border-box;
    font-family: Nanum Gothic Coding, sans-serif;
    color: white;
  
    ::-webkit-scrollbar {
      width: 5px;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: #5D5D5D;
      border-radius: 4px;
    }
  }
  
  * {
    box-sizing: inherit;
    margin: 0;
  }
  